@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #3a3a42;
  border-radius: 2px;
}

::selection {
  background: #7c5cfc44;
}
